body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header
{
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 6px 6px 0 0;
    background-image: url("../img/food_bg.avif");
    position: relative;
}

.logo {
    background-color: #fff;
    width: auto;
    height: 80px;
    margin: 1%;
}

.navigation
{
    float: right;
    position: absolute;
    transform: translate(180%, 600%);
}

.navigation ul {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    background: #161616;
    background: linear-gradient(#616161, #3b3b3b);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
}

.navigation a:hover {
    background: #363636;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.navigation li:first-child a {
    border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}

.body {
    padding: 3%;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0 0 6px 6px;
    background-image: url("../img/food_bg.jpg");
}

.content {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 6px;
    background-color: #fff;
    margin-left: -1%;
    margin-right: -1%;
    padding: 3%;
}